PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="sih2026-ayush-portal-super-secret-key-development"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:5173"
UPLOAD_DIR="./uploads"
NODE_ENV="development"
